/* Section */
.paragraph {
    height: fit-content;

    margin: 0.5rem;
    padding: 1rem;
    
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.5rem;
}

/* Text */
.paragraph>.text {
    text-align: justify;
    overflow: hidden;
    line-height: 20px;
    transition: 200ms;
}

.minimized>.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* Button */
.paragraph>.button {
    padding-top: 0.5rem;
    text-align: center;
    cursor: pointer;
    /* width: fit-content; */
}

/* See more */
.paragraph>.see-more {
    display: none;
    font-weight: 500;
    color: hwb(0 70% 30%);
}

.paragraph>.see-more:hover {
    color: hwb(0 40% 60%);
}

.minimized>.see-more {
    display: block;
}

.visible>.see-more {
    display: none;
}

/* See less */
.paragraph>.see-less {
    display: block;
    font-weight: 500;
    color: hwb(0 70% 30%);
}

.paragraph>.see-less:hover {
    color: hwb(0 40% 60%);
}

.minimized>.see-less {
    display: none;
}

.visible>.see-less {
    display: none;
}