/* GLOBAL */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

html, body {
    height: 100%;
}

main {
    padding: 0.5rem;
}

main > p {
    margin: 1rem;
}
