/* NEW */
.new {
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.5rem;
    padding: 1rem;
}

/* TEXT */
.new > p {
    line-height: 20px;
    text-align: justify;

    overflow: hidden;
    transition: 200ms;
}

.new.minimized > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/* BUTTON */
.new > button {
    color: hsl(0, 0%, 60%);
    font-weight: 500;
    
    border: none;
    cursor: pointer;
}

.new > button:hover {
    color: hsl(0, 0%, 40%);
}

/* FIRST */
.first > button {
    width: 100%;
    padding-top: 0.5rem;
}

/* SECOND */
.second > p,
.second > button {
    display: inline;
}
